@charset "UTF-8";

#tree ul {
	list-style-type: none;
}

#tree ul li::before {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: 0.25rem;
	content: "";
}

.open::before, .closed::before {
	background-size: 1rem 1rem;
	position: relative;
	top: 0.25rem;
	opacity: 0.3;
}

.open::before {
	transform: scale(1.5);
	background-image: url('down.svg.xhtml?ln=images');
}

.closed::before {
	transform: scale(1.5);
	background-image: url('right.svg.xhtml?ln=images');
}

.closed .closed::before, .closed .open::before {
	display: none;
}